<html> 

<head> 

    <title>
        <%= title %>
    </title>

    <link rel="stylesheet" href="/CSS/layout.css">
    <link rel="stylesheet" href="/CSS/header.css">
    <link rel="stylesheet" href="/CSS/footer.css">
    
    <%- style %>

</head>

<body>

    <%- include('_header'); -%>

    <main id ="body-main">

     <%- body %>

     </main>

    <%- include('_footer'); -%> 
   
    <%- script %>


</body>



</html>